@import "common.css";
body{
  background: #fff;
}
header{
  width: 100%;
  height: 0.88rem;
  height: auto;
position: relative;
  /* background: #0ff; */
}
header p{
  position: absolute;
  top: 16px;
  right:22px;
}
header h3{
  line-height: 50px;
  text-align: center;
  color:#000;
}
ul{
  width: 100%;
  margin-top: 30px;
}
li{
  width: 90%;
  margin-left: 5%;
  height: 50px;
  border-bottom: solid 1px #ddd;
  /* text-align: center; */
  line-height: 50px;
  position: relative;
}
li i{
  font-size: 20px;
  color:#888;
  margin-right: 10px;
}
li div{
  width: 40px;
  height: 40px;
  margin:5px 8px;
}
li div img{
  display: block;
  width: 100%;

}
li:first-of-type{
  margin-bottom: 30px;
  /* line-height: 0; */
}
li:first-of-type p{
  position: absolute;
  top: 0;
  font-size: 20px;
  left:70px;
}
